/*Purpose*/
#purpose {
    display: flex;
    align-items: center;
    padding-bottom: 8em;
}

#purpose > img {
    max-width: 50%;
    margin-right: 4em;
    box-shadow: 10px 2px 30px #e6e6e6;
}

.body > ul {
    text-align: left;
}
