
.scroll {
    margin-top: 0;
    background-color: #D0DBDF;
    padding: 10px 20px 10px 20px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
