/*Responsive CSS*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    
    .side-container {
        visibility: hidden;
    }

    #toggleBtn {
        visibility: hidden;
    }

    .top-nav {
        visibility: visible;
        position: fixed;
        top: 0;
    }

    .main {
        width: 100%;
    }

    .section1 {
        margin-bottom: 150px;
    }

    .section1 > img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .skills-list {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .skills-list > li{
        display: flex;
        align-items: center;
        justify-content: start;
    } 

    .inner-caption {
        margin: 50px;
        border: none;
        border-radius: 10px;
        margin-top: 50px;
        padding: 10px;
        background-color: #587b8d;
    }
    
    .inner-caption > h3 {
        color: #d0dbdf;
    }

}

@media only screen and (min-device-width : 220px) and (max-device-width : 480px) {
/*     .innerContent {
        padding-left: 25px;
        padding-right: 25px;
    } */
    
    .side-container {
        visibility: hidden;
    }

    #toggleBtn {
        visibility: hidden;
    }

    .top-nav {
        visibility: visible;
        position: fixed;
        top: 0;
    }

    .main {
        width: 100%;
    }

    .section1 > img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .skills-list > li{
        display: flex;
        align-items: center;
        justify-content: start;
    } 

    .img-skill {
        margin-left: -40px;
    }

    .inner-caption {
        margin: 50px;
        border: none;
        border-radius: 10px;
        margin-top: 50px;
        padding: 10px;
        background-color: #587b8d;
    }
    
    .inner-caption > h3 {
        color: #d0dbdf;
    }

}