$fontMain: PlayfairRegular, Arial, sans-serif;
$bodyFont: Mont-Reg;
$buttonFont: Mont-Reg;
$fontHeader: 75%;
$fontSubs:  250%;



h1, h2 {
  font-family: $fontMain;
}

h2 {
  font-size: $fontSubs;
}

body {
  font-family: $bodyFont;
}

button {
  font-family: $buttonFont;
}
