a {
    text-decoration: none; 
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.side-container {
    background-color:#d0dbdf;
    width: 20vw;
    display: grid;
    align-items: flex-end;
    grid-template-rows: auto auto auto auto;
}

.side-container > .profile-img, nav {
    display: block;
    
}

.profile-img > img {
    width: 75%;
    object-fit:cover;
    border-radius:50%;
}

.main {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.section1 > img {
    width: 100%;
}

.heading {
    color: #587b8d;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 300%;
}